.modal-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: none; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background-color: #fefefe;
  padding: 50px;
  border: 1px solid rgb(226, 226, 226);
  width: 30%; /* Could be more or less, depending on screen size */  
  height: 50%;  
}

.btn-input-text {
    padding: 5px;
    width: 100%;
    border: none;
    background-color: rgb(236, 236, 236);
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(119, 119, 119);
      }
    outline-width: 0;
    resize: none;
}

.btn-textarea-text {
    padding: 5px;
    width: 100%;
    height: 200px;
    border: none;
    background-color: rgb(236, 236, 236);
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(119, 119, 119);
      }
    outline-width: 0;
    resize: none;
}

.btn-input-image {

    width: 60%;

    border: none;
    background-color: rgb(236, 236, 236);
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(119, 119, 119);
      }
    outline-width: 0;
    resize: none;
}

.btn-close {
    position: absolute;
    top: 3%;
    right: 4%;
    opacity: 0.3;
  }
  .btn-close:hover {
    opacity: 1;
    cursor: pointer;
  }
  .btn-close:before, .btn-close:after {
    position: absolute;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }
  .btn-close:before {
    transform: rotate(45deg);
  }
  .btn-close:after {
    transform: rotate(-45deg);
  }

.btn-add-save {
  margin-top: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  font-family: 'Cormorant SC', serif;
  font-weight: 600;
  transition: 0.3s;
  &:hover {
      background-color: black;
      cursor: pointer;
      color: white;
  }
}

.img-holder {
  width: 60%;
}

.imgx {
  width: 100%;
}