.tabs-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab-card {
    position: relative;
    text-align: bottom;
    margin: 5px;
    width: 300px;
}

.tab-title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Cormorant SC', serif;
    width: 100%;
    height: 100%;
    font-size: 36px;
    font-weight: 400;
    opacity: 1;
    z-index: -1;
}

.tab-image {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    &:hover {
        opacity:0.3;
        cursor: pointer;
        filter: grayscale(100%);
    }   
}


//Responsive
@media only screen and (max-width: 1100px) {
    .tabs-container {
        display: grid;
        grid-template-columns: 49% 49%;
        margin-bottom: 1%;
        width: 100%;
        justify-content: space-around;
    }
    .tab-card {
        width: 100%;
        margin: 0;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .tabs-container {
        display: grid;
        grid-template-columns: 95%;
        width: 100%;
        justify-content: center;
    }
    .tab-card {
        width: 100%;
        margin-bottom: 2%;
    }
}