body {
    background-color: rgb(255, 255, 255);
  }
  
  .app {
    position: relative;
    min-height: 100vh;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CECECE;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CECECE;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #CECECE;
  }